BasedOnStyle: LLVM
PointerAlignment: Right
NamespaceIndentation: All
BreakBeforeBraces: Allman
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
BreakConstructorInitializers: BeforeComma
FixNamespaceComments: false
IndentPPDirectives: BeforeHash
AllowShortFunctionsOnASingleLine: false
